@import 'modules/variables';
@import '../fonts/Lato/lato.css';
@import '../fonts/FontAwesome/font-awesome.min.css';
@import 'skeleton/skeleton';
/*@import 'sprites/sprite';*/
@import 'sprites/sprite';

@import 'modules/mainpage';
@import 'modules/contacts';
@import 'modules/common';


a{
  color: $blue;
  outline: none;
  &:focus{
    outline: none;
  }
}
*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.header{
  background: #fff url('../img/header__bg.jpg') center top no-repeat;
  .f-row{
    display: flex;
    flex-direction: column;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__body{
    min-height: 125px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo{
    flex: 1;
  }
  &__phone{
    display: inline-block;
    padding: 4px 20px 4px 30px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333538;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    height: 48px;
    line-height: 42px;
  }
  &__instagram{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    font-size: 24px;
    color: $blue;
    text-decoration: none;
    margin-right: 20px;
    height: 48px;
    line-height: 48px;
    width: 48px;
    vertical-align: middle;
  }
  &__cart{
    display: inline-block;
    padding: 4px 20px 4px 30px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: $blue;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 42px;
  }
}
.crumbs {
  margin: 14px 0;
  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 12px;
    li {
      display: inline-block;
      margin-bottom: 0;
      color: $blue;
    }
    a{
      text-decoration: none;
      font-size: 12px;
    }
    > li + li::before {
      content: "";
      //@include sprite($crumbs-dot);
      margin: 0 10px;
      vertical-align: middle;
      display: inline-block;
      background-repeat: no-repeat;
    }
  }
}
.footer{
  background-color: #424242;
  color: #fff;
}