@import 'modules/variables';
@import '../fonts/fonts.css';
@import '../fonts/FontAwesome/font-awesome.min.css';
@import 'skeleton/skeleton';
/*@import 'sprites/sprite';*/
@import 'sprites/sprite';

@import 'modules/mainpage';
@import 'modules/contacts';
@import 'modules/common';

body{
  font-family: 'NeoSansPro', sans-serif;
}
a{
  color: $blue;
  outline: none;
  &:focus{
    outline: none;
  }
}
*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.header{
  &__main{
    background: #fff url('../img/index.jpg') center top no-repeat;
    height: 550px;
  }
  &__title{
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;
  }
  &__info{
    color: #302f33;
    font-size: 18px;
    text-align: center;
    margin-left: 334px;
    margin-right: 340px;
    line-height: 120%;
    margin-bottom: 36px;
  }
  background: #fff url('../img/header__bg.jpg') center top no-repeat;
  .f-row{
    display: flex;
    flex-direction: column;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__body{
    min-height: 125px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo{
    flex: 1;
  }
  &__phone{
    display: inline-block;
    padding: 4px 20px 4px 30px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333538;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    height: 48px;
    line-height: 42px;
  }
  &__instagram{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    font-size: 24px;
    color: $blue;
    text-decoration: none;
    margin-right: 20px;
    height: 48px;
    line-height: 48px;
    width: 48px;
    vertical-align: middle;
  }
  &__cart{
    display: inline-block;
    padding: 4px 20px 4px 30px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: $blue;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 42px;
  }
}
.crumbs {
  margin: 14px 0;
  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 12px;
    li {
      display: inline-block;
      margin-bottom: 0;
      color: $blue;
    }
    a{
      text-decoration: none;
      font-size: 12px;
    }
    > li + li::before {
      content: "";
      //@include sprite($crumbs-dot);
      margin: 0 10px;
      vertical-align: middle;
      display: inline-block;
      background-repeat: no-repeat;
    }
  }
}
.footer{
  background-color: #424242;
  color: #fff;
}

.catalog{
  margin-left: -15px;
  margin-right: -15px;
  &__item{
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 44px;
  }
  &-card{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    transition: $anim;
    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    &__name{
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #098793;
      color: #fff;
      text-align: center;
      min-height: 70px;
      line-height: 70px;
      vertical-align: middle;
      border-radius: 8px 8px 0 0;
      margin-bottom: 30px;
    }
    &__image{
      min-height: 298px;
      background-repeat: no-repeat;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    &__box{
      padding-bottom: 30px;
      padding-left: 21px;
      padding-right: 19px;
    }
    &__price{
      color: #098793;
      font-size: 30px;
      font-weight: bold;
      padding-right: 6px;
      &-line{
        text-align: center;
        padding-bottom: 30px;
      }
    }
    &__currence{
      color: #808080;
      font-size: 11px;
      font-weight: normal;
    }
    &__action{
      text-align: center;
    }
    &__buy{
      height: 53px;
      width: 232px;
      background-color: #5bd3df;
      color: #fff;
      text-transform: uppercase;
      border-radius: 4px;
      text-align: center;
      border: none;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
  }
}
.property{
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-size: 11px;
    font-weight: normal;
    color: #999999;
    padding-bottom: 20px;
  }
  &__value{
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 24px;
  }
}
.product{
  margin-top: 88px;
  margin-bottom: 128px;
  &__slider{
    flex-direction: column;
    width: 50%;
  }
  &__info{
    flex-direction: column;
    width: 42%;
    padding-left: 14px;
  }
  &__title{
    color: #333333;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__price{
    flex-direction: column;
    width: 33%;
    margin-top: 10px;
  }
  &__count{
    flex-direction: column;
    width: 67%;
  }
  &__action{
    margin-top: 26px;
    margin-bottom: 40px;
  }
  &__buy{
    border-bottom: 1px solid #54acb4;
    margin-bottom: 34px;
  }
  &-property{
    &__row{
      display: flex;
      //justify-content: space-evenly;
    }
    &__name {
      font-size: 16px;
      font-weight: normal;
      color: #808080;
      padding-bottom: 30px;
      width: 196px;
      flex-shrink: 0;
    }
    &__value{
      color: #333333;
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 30px;
      text-align: left;
    }
  }
  &-big{
    &__slider{
      padding-left: 98px;
      padding-top: 6px;
      padding-bottom: 30px;
      position: relative;
      &:before{
        position: absolute;
        content: "";
        @include sprite($prev);
        top: 259px;
        left: 55px;
      }
      &:after{
        position: absolute;
        content: "";
        @include sprite($next);
        top: 259px;
        right: 36px;
      }
    }
  }
  &-small{
    &__slider{
      padding-left: 98px;

    }
  }
  &-card{
    &__buy{
      height: 54px;
      width: 264px;
      background-color: #5bd3df;
      color: #fff;
      text-transform: uppercase;
      border-radius: 4px;
      text-align: center;
      border: none;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      vertical-align: middle;
    }
  }
}
.small{
  &__foto{
    float: left;
    margin-right: 21px;
    & img{
      &:hover{
        border-radius: 3px;
        border: 3px solid #5bd3df;
      }
    }
  }
}
.select{
  &__action{
    text-align: center;
  }
  &__buy{
    height: 60px;
    width: 300px;
    background-color: #5bd3df;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }
}
.about{
  &__row{
    margin-left: 60px;
    margin-right: 46px;
  }
  &__title{
    color: #4c4c4c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 44px;
  }
  &__item {
    width: 25%;
    margin-bottom: 44px;
  }
  &__pic{
    width: 165px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 29px 3px rgba(0,131,143,0.27);
    transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
    }
    &--security{
      &:before{
        @include sprite($security);
      }
    }
    &--heat{
      &:before{
        @include sprite($heat);
      }
    }
    &--color{
      &:before{
        @include sprite($color);
      }
    }
    &--sleep{
      &:before{
        @include sprite($sleep);
      }
    }
  }
  &__info{
    padding-top: 120px;
    text-align: center;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 120%;
    padding-left: 11px;
    padding-right: 11px;
  }
}