/*
Black - 700
Bold - 600
Medium - 500
Regular - 400
Light - 300
 */

@font-face {
    font-family: 'NeoSans';
    src: url('./Neo/NeoSansPro-Bold.eot');
    src: url('./Neo/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Neo/NeoSansPro-Bold.woff') format('woff'),
    url('./Neo/NeoSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NeoSans';
    src: url('./Neo/NeoSansPro-Regular.eot');
    src: url('./Neo/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./Neo/NeoSansPro-Regular.woff') format('woff'),
    url('./Neo/NeoSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}