$red: #cd0000;
$gold: #bb9b68;
$gold-dark: #563a0d;
$gray: #5f5f5e;
$anim: all 0.2s;
$anim5: all 0.5s;
$footer-color: #757068;
$product-nav-hover: rgba(171,0,0,0.4);
$product-nav-active: rgba(187,155,104,0.6);