<div class="b-questions">
    <div class="container">
        <div class="b-questions__header">Есть вопросы?</div>
        <div class="b-questions__lead">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
        <div class="f-row">
            <div class="b-questions__inputs">
                <form action="">
                    <div class="input-box input-box--name">
                        <input type="text" placeholder="Ваше имя" />
                    </div>
                    <div class="input-box input-box--phone">
                        <input type="text" placeholder="Телефон" />
                    </div>
                    <div class="input-box input-box--email">
                        <input type="text" placeholder="Электронная почта" />
                    </div>
                    <div class="input-box input-box--message">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Что Вас интересует?"></textarea>
                    </div>
                </form>
            </div>
            <div class="b-questions__right-box">
                <div class="b-questions__images">
                    <img src="/assets/template/img/b-forma__images.png" alt="">
                </div>
                <!--div class="b-questions__images">
                    <div class="b-questions__image-big-o"></div>
                    <div class="b-questions__image-big" style="background-image: url('/assets/template/img/forma__image-1.jpg');"></div>
                </div-->
                <div class="b-questions__btn-box">
                    <button class="b-questions__btn">
                        <span class="b-questions__angles"></span>
                        <span class="b-questions__btntext">
                            Отправить заявку
                        </span>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="f-row">

            <div class="footer__copyright">
                ©  2017 Corkstyle
                <div class="footer__dev">
                    <a href="https://group-s.ru" rel="nofollow">Создание сайта - Group-S</a>
                </div>
            </div>
            <div class="footer__social">
                <a href="https://www.facebook.com/Corkstyle/" target="_blank" title="Перейти на страницу CORKSTYLE в сети FACEBOOK"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/111606876241928689768" target="_blank" title="Перейти на страницу CORKSTYLE в GOOGLE +"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.youtube.com/channel/UC3e8aSSmJUFfCb0ibm9VYcQ" target="_blank" title="Перейти на страницу CORKSTYLE в YOUTUBE"><i class="fa fa-youtube-play"></i></a>
                <a href="https://twitter.com/corkstyle_ru" target="_blank" title="Перейти на страницу CORKSTYLE в TWITTER"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/corkstyle/" target="_blank" title="Перейти на страницу CORKSTYLE в INSTAGRAM"><i class="fa fa-instagram"></i></a>
                <a href="https://vk.com/corkstyle_ru" target="_blank" title="Перейти на страницу CORKSTYLE в КОНТАКТЕ"><i class="fa fa-vk" ></i></a>
                <a href="https://ru.pinterest.com/corkstyle/" target="_blank" title="Перейти на страницу CORKSTYLE в Pinterest"><i class="fa fa-pinterest" ></i></a>
            </div>
            <ul class="footer__phones">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <li>8 (800) 333-23-66</li>
                <li>8 (495) 648-64-66</li>
            </ul>

            <div class="footer__mail"><i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto: info@corkstyle.ru">info@corkstyle.ru</a>
            </div>
        </div>
    </div>
</div>


    <!-- @if NODE_ENV='development' -->
    <script src="assets/template/vendor/jquery-3.2.1.min.js"></script>
    <script src="assets/template/vendor/slick/slick.js"></script>
    <script src="assets/template/vendor/selectric/jquery.selectric.min.js"></script>
    <script src="/assets/template/vendor/elastic/main3.js"></script>
    <script src="assets/template/vendor/magnific-popup/magnific-popup.js"></script>
    <!--script src="assets/template/vendor/wow.min.js"></script>
    <script>
        new WOW({
            live: true
        }).init();
    </script-->
    <script src="assets/template/js/scripts.js"></script>

    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <script src="assets/template/js/scripts.js"></script>
    <!-- @endif -->
</body>
</html>
