// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-name: 'adv-1';
$adv-1-x: 0px;
$adv-1-y: 51px;
$adv-1-offset-x: 0px;
$adv-1-offset-y: -51px;
$adv-1-width: 44px;
$adv-1-height: 50px;
$adv-1-total-width: 186px;
$adv-1-total-height: 174px;
$adv-1-image: '/assets/template/css/sprites/sprite.png';
$adv-1: (0px, 51px, 0px, -51px, 44px, 50px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'adv-1', );
$adv-2-name: 'adv-2';
$adv-2-x: 44px;
$adv-2-y: 51px;
$adv-2-offset-x: -44px;
$adv-2-offset-y: -51px;
$adv-2-width: 44px;
$adv-2-height: 44px;
$adv-2-total-width: 186px;
$adv-2-total-height: 174px;
$adv-2-image: '/assets/template/css/sprites/sprite.png';
$adv-2: (44px, 51px, -44px, -51px, 44px, 44px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'adv-2', );
$adv-3-name: 'adv-3';
$adv-3-x: 0px;
$adv-3-y: 101px;
$adv-3-offset-x: 0px;
$adv-3-offset-y: -101px;
$adv-3-width: 34px;
$adv-3-height: 52px;
$adv-3-total-width: 186px;
$adv-3-total-height: 174px;
$adv-3-image: '/assets/template/css/sprites/sprite.png';
$adv-3: (0px, 101px, 0px, -101px, 34px, 52px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'adv-3', );
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 168px;
$arrow-down-red-y: 101px;
$arrow-down-red-offset-x: -168px;
$arrow-down-red-offset-y: -101px;
$arrow-down-red-width: 15px;
$arrow-down-red-height: 15px;
$arrow-down-red-total-width: 186px;
$arrow-down-red-total-height: 174px;
$arrow-down-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-down-red: (168px, 101px, -168px, -101px, 15px, 15px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'arrow-down-red', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 82px;
$arrow-up-red-y: 124px;
$arrow-up-red-offset-x: -82px;
$arrow-up-red-offset-y: -124px;
$arrow-up-red-width: 15px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 186px;
$arrow-up-red-total-height: 174px;
$arrow-up-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-up-red: (82px, 124px, -82px, -124px, 15px, 15px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'arrow-up-red', );
$check-name: 'check';
$check-x: 143px;
$check-y: 51px;
$check-offset-x: -143px;
$check-offset-y: -51px;
$check-width: 37px;
$check-height: 37px;
$check-total-width: 186px;
$check-total-height: 174px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (143px, 51px, -143px, -51px, 37px, 37px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'check', );
$clock-name: 'clock';
$clock-x: 82px;
$clock-y: 101px;
$clock-offset-x: -82px;
$clock-offset-y: -101px;
$clock-width: 20px;
$clock-height: 20px;
$clock-total-width: 186px;
$clock-total-height: 174px;
$clock-image: '/assets/template/css/sprites/sprite.png';
$clock: (82px, 101px, -82px, -101px, 20px, 20px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'clock', );
$color-name: 'color';
$color-x: 95px;
$color-y: 0px;
$color-offset-x: -95px;
$color-offset-y: 0px;
$color-width: 48px;
$color-height: 46px;
$color-total-width: 186px;
$color-total-height: 174px;
$color-image: '/assets/template/css/sprites/sprite.png';
$color: (95px, 0px, -95px, 0px, 48px, 46px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'color', );
$forma-email-name: 'forma-email';
$forma-email-x: 162px;
$forma-email-y: 88px;
$forma-email-offset-x: -162px;
$forma-email-offset-y: -88px;
$forma-email-width: 16px;
$forma-email-height: 12px;
$forma-email-total-width: 186px;
$forma-email-total-height: 174px;
$forma-email-image: '/assets/template/css/sprites/sprite.png';
$forma-email: (162px, 88px, -162px, -88px, 16px, 12px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'forma-email', );
$forma-message-name: 'forma-message';
$forma-message-x: 136px;
$forma-message-y: 101px;
$forma-message-offset-x: -136px;
$forma-message-offset-y: -101px;
$forma-message-width: 16px;
$forma-message-height: 16px;
$forma-message-total-width: 186px;
$forma-message-total-height: 174px;
$forma-message-image: '/assets/template/css/sprites/sprite.png';
$forma-message: (136px, 101px, -136px, -101px, 16px, 16px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'forma-message', );
$forma-name-name: 'forma-name';
$forma-name-x: 97px;
$forma-name-y: 124px;
$forma-name-offset-x: -97px;
$forma-name-offset-y: -124px;
$forma-name-width: 10px;
$forma-name-height: 15px;
$forma-name-total-width: 186px;
$forma-name-total-height: 174px;
$forma-name-image: '/assets/template/css/sprites/sprite.png';
$forma-name: (97px, 124px, -97px, -124px, 10px, 15px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'forma-name', );
$forma-phone-name: 'forma-phone';
$forma-phone-x: 152px;
$forma-phone-y: 101px;
$forma-phone-offset-x: -152px;
$forma-phone-offset-y: -101px;
$forma-phone-width: 16px;
$forma-phone-height: 16px;
$forma-phone-total-width: 186px;
$forma-phone-total-height: 174px;
$forma-phone-image: '/assets/template/css/sprites/sprite.png';
$forma-phone: (152px, 101px, -152px, -101px, 16px, 16px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'forma-phone', );
$header-email-name: 'header-email';
$header-email-x: 88px;
$header-email-y: 79px;
$header-email-offset-x: -88px;
$header-email-offset-y: -79px;
$header-email-width: 21px;
$header-email-height: 14px;
$header-email-total-width: 186px;
$header-email-total-height: 174px;
$header-email-image: '/assets/template/css/sprites/sprite.png';
$header-email: (88px, 79px, -88px, -79px, 21px, 14px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'header-email', );
$header-phone-name: 'header-phone';
$header-phone-x: 0px;
$header-phone-y: 153px;
$header-phone-offset-x: 0px;
$header-phone-offset-y: -153px;
$header-phone-width: 15px;
$header-phone-height: 21px;
$header-phone-total-width: 186px;
$header-phone-total-height: 174px;
$header-phone-image: '/assets/template/css/sprites/sprite.png';
$header-phone: (0px, 153px, 0px, -153px, 15px, 21px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'header-phone', );
$heat-name: 'heat';
$heat-x: 143px;
$heat-y: 0px;
$heat-offset-x: -143px;
$heat-offset-y: 0px;
$heat-width: 43px;
$heat-height: 51px;
$heat-total-width: 186px;
$heat-total-height: 174px;
$heat-image: '/assets/template/css/sprites/sprite.png';
$heat: (143px, 0px, -143px, 0px, 43px, 51px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'heat', );
$leaf-name: 'leaf';
$leaf-x: 120px;
$leaf-y: 101px;
$leaf-offset-x: -120px;
$leaf-offset-y: -101px;
$leaf-width: 16px;
$leaf-height: 19px;
$leaf-total-width: 186px;
$leaf-total-height: 174px;
$leaf-image: '/assets/template/css/sprites/sprite.png';
$leaf: (120px, 101px, -120px, -101px, 16px, 19px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'leaf', );
$mail-name: 'mail';
$mail-x: 143px;
$mail-y: 88px;
$mail-offset-x: -143px;
$mail-offset-y: -88px;
$mail-width: 19px;
$mail-height: 13px;
$mail-total-width: 186px;
$mail-total-height: 174px;
$mail-image: '/assets/template/css/sprites/sprite.png';
$mail: (143px, 88px, -143px, -88px, 19px, 13px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'mail', );
$marker-name: 'marker';
$marker-x: 27px;
$marker-y: 153px;
$marker-offset-x: -27px;
$marker-offset-y: -153px;
$marker-width: 13px;
$marker-height: 16px;
$marker-total-width: 186px;
$marker-total-height: 174px;
$marker-image: '/assets/template/css/sprites/sprite.png';
$marker: (27px, 153px, -27px, -153px, 13px, 16px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'marker', );
$montage-name: 'montage';
$montage-x: 34px;
$montage-y: 101px;
$montage-offset-x: -34px;
$montage-offset-y: -101px;
$montage-width: 23px;
$montage-height: 23px;
$montage-total-width: 186px;
$montage-total-height: 174px;
$montage-image: '/assets/template/css/sprites/sprite.png';
$montage: (34px, 101px, -34px, -101px, 23px, 23px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'montage', );
$next-name: 'next';
$next-x: 129px;
$next-y: 51px;
$next-offset-x: -129px;
$next-offset-y: -51px;
$next-width: 12px;
$next-height: 21px;
$next-total-width: 186px;
$next-total-height: 174px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (129px, 51px, -129px, -51px, 12px, 21px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'next', );
$phone-name: 'phone';
$phone-x: 102px;
$phone-y: 101px;
$phone-offset-x: -102px;
$phone-offset-y: -101px;
$phone-width: 18px;
$phone-height: 19px;
$phone-total-width: 186px;
$phone-total-height: 174px;
$phone-image: '/assets/template/css/sprites/sprite.png';
$phone: (102px, 101px, -102px, -101px, 18px, 19px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'phone', );
$prev-name: 'prev';
$prev-x: 15px;
$prev-y: 153px;
$prev-offset-x: -15px;
$prev-offset-y: -153px;
$prev-width: 12px;
$prev-height: 21px;
$prev-total-width: 186px;
$prev-total-height: 174px;
$prev-image: '/assets/template/css/sprites/sprite.png';
$prev: (15px, 153px, -15px, -153px, 12px, 21px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'prev', );
$protect-name: 'protect';
$protect-x: 34px;
$protect-y: 124px;
$protect-offset-x: -34px;
$protect-offset-y: -124px;
$protect-width: 19px;
$protect-height: 23px;
$protect-total-width: 186px;
$protect-total-height: 174px;
$protect-image: '/assets/template/css/sprites/sprite.png';
$protect: (34px, 124px, -34px, -124px, 19px, 23px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'protect', );
$quot-gold-name: 'quot-gold';
$quot-gold-x: 88px;
$quot-gold-y: 51px;
$quot-gold-offset-x: -88px;
$quot-gold-offset-y: -51px;
$quot-gold-width: 41px;
$quot-gold-height: 28px;
$quot-gold-total-width: 186px;
$quot-gold-total-height: 174px;
$quot-gold-image: '/assets/template/css/sprites/sprite.png';
$quot-gold: (88px, 51px, -88px, -51px, 41px, 28px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'quot-gold', );
$security-name: 'security';
$security-x: 0px;
$security-y: 0px;
$security-offset-x: 0px;
$security-offset-y: 0px;
$security-width: 48px;
$security-height: 51px;
$security-total-width: 186px;
$security-total-height: 174px;
$security-image: '/assets/template/css/sprites/sprite.png';
$security: (0px, 0px, 0px, 0px, 48px, 51px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'security', );
$sleep-name: 'sleep';
$sleep-x: 48px;
$sleep-y: 0px;
$sleep-offset-x: -48px;
$sleep-offset-y: 0px;
$sleep-width: 47px;
$sleep-height: 51px;
$sleep-total-width: 186px;
$sleep-total-height: 174px;
$sleep-image: '/assets/template/css/sprites/sprite.png';
$sleep: (48px, 0px, -48px, 0px, 47px, 51px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'sleep', );
$social-instagram-name: 'social__instagram';
$social-instagram-x: 53px;
$social-instagram-y: 124px;
$social-instagram-offset-x: -53px;
$social-instagram-offset-y: -124px;
$social-instagram-width: 17px;
$social-instagram-height: 20px;
$social-instagram-total-width: 186px;
$social-instagram-total-height: 174px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (53px, 124px, -53px, -124px, 17px, 20px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'social__instagram', );
$social-ok-name: 'social__ok';
$social-ok-x: 70px;
$social-ok-y: 124px;
$social-ok-offset-x: -70px;
$social-ok-offset-y: -124px;
$social-ok-width: 12px;
$social-ok-height: 20px;
$social-ok-total-width: 186px;
$social-ok-total-height: 174px;
$social-ok-image: '/assets/template/css/sprites/sprite.png';
$social-ok: (70px, 124px, -70px, -124px, 12px, 20px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'social__ok', );
$social-vk-name: 'social__vk';
$social-vk-x: 57px;
$social-vk-y: 101px;
$social-vk-offset-x: -57px;
$social-vk-offset-y: -101px;
$social-vk-width: 25px;
$social-vk-height: 20px;
$social-vk-total-width: 186px;
$social-vk-total-height: 174px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (57px, 101px, -57px, -101px, 25px, 20px, 186px, 174px, '/assets/template/css/sprites/sprite.png', 'social__vk', );
$spritesheet-width: 186px;
$spritesheet-height: 174px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($adv-1, $adv-2, $adv-3, $arrow-down-red, $arrow-up-red, $check, $clock, $color, $forma-email, $forma-message, $forma-name, $forma-phone, $header-email, $header-phone, $heat, $leaf, $mail, $marker, $montage, $next, $phone, $prev, $protect, $quot-gold, $security, $sleep, $social-instagram, $social-ok, $social-vk, );
$spritesheet: (186px, 174px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
