// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-name: 'adv-1';
$adv-1-x: 191px;
$adv-1-y: 0px;
$adv-1-offset-x: -191px;
$adv-1-offset-y: 0px;
$adv-1-width: 44px;
$adv-1-height: 50px;
$adv-1-total-width: 235px;
$adv-1-total-height: 218px;
$adv-1-image: '/assets/template/css/sprites/sprite.png';
$adv-1: (191px, 0px, -191px, 0px, 44px, 50px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'adv-1', );
$adv-2-name: 'adv-2';
$adv-2-x: 191px;
$adv-2-y: 101px;
$adv-2-offset-x: -191px;
$adv-2-offset-y: -101px;
$adv-2-width: 44px;
$adv-2-height: 44px;
$adv-2-total-width: 235px;
$adv-2-total-height: 218px;
$adv-2-image: '/assets/template/css/sprites/sprite.png';
$adv-2: (191px, 101px, -191px, -101px, 44px, 44px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'adv-2', );
$adv-3-name: 'adv-3';
$adv-3-x: 0px;
$adv-3-y: 166px;
$adv-3-offset-x: 0px;
$adv-3-offset-y: -166px;
$adv-3-width: 34px;
$adv-3-height: 52px;
$adv-3-total-width: 235px;
$adv-3-total-height: 218px;
$adv-3-image: '/assets/template/css/sprites/sprite.png';
$adv-3: (0px, 166px, 0px, -166px, 34px, 52px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'adv-3', );
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 81px;
$arrow-down-red-y: 166px;
$arrow-down-red-offset-x: -81px;
$arrow-down-red-offset-y: -166px;
$arrow-down-red-width: 15px;
$arrow-down-red-height: 15px;
$arrow-down-red-total-width: 235px;
$arrow-down-red-total-height: 218px;
$arrow-down-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-down-red: (81px, 166px, -81px, -166px, 15px, 15px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'arrow-down-red', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 66px;
$arrow-up-red-y: 166px;
$arrow-up-red-offset-x: -66px;
$arrow-up-red-offset-y: -166px;
$arrow-up-red-width: 15px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 235px;
$arrow-up-red-total-height: 218px;
$arrow-up-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-up-red: (66px, 166px, -66px, -166px, 15px, 15px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'arrow-up-red', );
$check-name: 'check';
$check-x: 48px;
$check-y: 120px;
$check-offset-x: -48px;
$check-offset-y: -120px;
$check-width: 37px;
$check-height: 37px;
$check-total-width: 235px;
$check-total-height: 218px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (48px, 120px, -48px, -120px, 37px, 37px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'check', );
$clients-name: 'clients';
$clients-x: 0px;
$clients-y: 0px;
$clients-offset-x: 0px;
$clients-offset-y: 0px;
$clients-width: 69px;
$clients-height: 69px;
$clients-total-width: 235px;
$clients-total-height: 218px;
$clients-image: '/assets/template/css/sprites/sprite.png';
$clients: (0px, 0px, 0px, 0px, 69px, 69px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'clients', );
$clock-name: 'clock';
$clock-x: 170px;
$clock-y: 68px;
$clock-offset-x: -170px;
$clock-offset-y: -68px;
$clock-width: 20px;
$clock-height: 20px;
$clock-total-width: 235px;
$clock-total-height: 218px;
$clock-image: '/assets/template/css/sprites/sprite.png';
$clock: (170px, 68px, -170px, -68px, 20px, 20px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'clock', );
$color-name: 'color';
$color-x: 0px;
$color-y: 120px;
$color-offset-x: 0px;
$color-offset-y: -120px;
$color-width: 48px;
$color-height: 46px;
$color-total-width: 235px;
$color-total-height: 218px;
$color-image: '/assets/template/css/sprites/sprite.png';
$color: (0px, 120px, 0px, -120px, 48px, 46px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'color', );
$delivery-name: 'delivery';
$delivery-x: 122px;
$delivery-y: 0px;
$delivery-offset-x: -122px;
$delivery-offset-y: 0px;
$delivery-width: 69px;
$delivery-height: 45px;
$delivery-total-width: 235px;
$delivery-total-height: 218px;
$delivery-image: '/assets/template/css/sprites/sprite.png';
$delivery: (122px, 0px, -122px, 0px, 69px, 45px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'delivery', );
$forma-email-name: 'forma-email';
$forma-email-x: 96px;
$forma-email-y: 166px;
$forma-email-offset-x: -96px;
$forma-email-offset-y: -166px;
$forma-email-width: 16px;
$forma-email-height: 12px;
$forma-email-total-width: 235px;
$forma-email-total-height: 218px;
$forma-email-image: '/assets/template/css/sprites/sprite.png';
$forma-email: (96px, 166px, -96px, -166px, 16px, 12px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'forma-email', );
$forma-message-name: 'forma-message';
$forma-message-x: 50px;
$forma-message-y: 166px;
$forma-message-offset-x: -50px;
$forma-message-offset-y: -166px;
$forma-message-width: 16px;
$forma-message-height: 16px;
$forma-message-total-width: 235px;
$forma-message-total-height: 218px;
$forma-message-image: '/assets/template/css/sprites/sprite.png';
$forma-message: (50px, 166px, -50px, -166px, 16px, 16px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'forma-message', );
$forma-name-name: 'forma-name';
$forma-name-x: 70px;
$forma-name-y: 182px;
$forma-name-offset-x: -70px;
$forma-name-offset-y: -182px;
$forma-name-width: 10px;
$forma-name-height: 15px;
$forma-name-total-width: 235px;
$forma-name-total-height: 218px;
$forma-name-image: '/assets/template/css/sprites/sprite.png';
$forma-name: (70px, 182px, -70px, -182px, 10px, 15px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'forma-name', );
$forma-phone-name: 'forma-phone';
$forma-phone-x: 34px;
$forma-phone-y: 166px;
$forma-phone-offset-x: -34px;
$forma-phone-offset-y: -166px;
$forma-phone-width: 16px;
$forma-phone-height: 16px;
$forma-phone-total-width: 235px;
$forma-phone-total-height: 218px;
$forma-phone-image: '/assets/template/css/sprites/sprite.png';
$forma-phone: (34px, 166px, -34px, -166px, 16px, 16px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'forma-phone', );
$header-email-name: 'header-email';
$header-email-x: 141px;
$header-email-y: 120px;
$header-email-offset-x: -141px;
$header-email-offset-y: -120px;
$header-email-width: 21px;
$header-email-height: 14px;
$header-email-total-width: 235px;
$header-email-total-height: 218px;
$header-email-image: '/assets/template/css/sprites/sprite.png';
$header-email: (141px, 120px, -141px, -120px, 21px, 14px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'header-email', );
$header-phone-name: 'header-phone';
$header-phone-x: 126px;
$header-phone-y: 120px;
$header-phone-offset-x: -126px;
$header-phone-offset-y: -120px;
$header-phone-width: 15px;
$header-phone-height: 21px;
$header-phone-total-width: 235px;
$header-phone-total-height: 218px;
$header-phone-image: '/assets/template/css/sprites/sprite.png';
$header-phone: (126px, 120px, -126px, -120px, 15px, 21px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'header-phone', );
$heat-name: 'heat';
$heat-x: 191px;
$heat-y: 50px;
$heat-offset-x: -191px;
$heat-offset-y: -50px;
$heat-width: 43px;
$heat-height: 51px;
$heat-total-width: 235px;
$heat-total-height: 218px;
$heat-image: '/assets/template/css/sprites/sprite.png';
$heat: (191px, 50px, -191px, -50px, 43px, 51px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'heat', );
$leaf-name: 'leaf';
$leaf-x: 162px;
$leaf-y: 96px;
$leaf-offset-x: -162px;
$leaf-offset-y: -96px;
$leaf-width: 16px;
$leaf-height: 19px;
$leaf-total-width: 235px;
$leaf-total-height: 218px;
$leaf-image: '/assets/template/css/sprites/sprite.png';
$leaf: (162px, 96px, -162px, -96px, 16px, 19px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'leaf', );
$mail-name: 'mail';
$mail-x: 162px;
$mail-y: 120px;
$mail-offset-x: -162px;
$mail-offset-y: -120px;
$mail-width: 19px;
$mail-height: 13px;
$mail-total-width: 235px;
$mail-total-height: 218px;
$mail-image: '/assets/template/css/sprites/sprite.png';
$mail: (162px, 120px, -162px, -120px, 19px, 13px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'mail', );
$marker-name: 'marker';
$marker-x: 178px;
$marker-y: 96px;
$marker-offset-x: -178px;
$marker-offset-y: -96px;
$marker-width: 13px;
$marker-height: 16px;
$marker-total-width: 235px;
$marker-total-height: 218px;
$marker-image: '/assets/template/css/sprites/sprite.png';
$marker: (178px, 96px, -178px, -96px, 13px, 16px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'marker', );
$montage-name: 'montage';
$montage-x: 122px;
$montage-y: 96px;
$montage-offset-x: -122px;
$montage-offset-y: -96px;
$montage-width: 23px;
$montage-height: 23px;
$montage-total-width: 235px;
$montage-total-height: 218px;
$montage-image: '/assets/template/css/sprites/sprite.png';
$montage: (122px, 96px, -122px, -96px, 23px, 23px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'montage', );
$next-name: 'next';
$next-x: 46px;
$next-y: 182px;
$next-offset-x: -46px;
$next-offset-y: -182px;
$next-width: 12px;
$next-height: 21px;
$next-total-width: 235px;
$next-total-height: 218px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (46px, 182px, -46px, -182px, 12px, 21px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'next', );
$partners-name: 'partners';
$partners-x: 0px;
$partners-y: 69px;
$partners-offset-x: 0px;
$partners-offset-y: -69px;
$partners-width: 69px;
$partners-height: 51px;
$partners-total-width: 235px;
$partners-total-height: 218px;
$partners-image: '/assets/template/css/sprites/sprite.png';
$partners: (0px, 69px, 0px, -69px, 69px, 51px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'partners', );
$phone-name: 'phone';
$phone-x: 216px;
$phone-y: 145px;
$phone-offset-x: -216px;
$phone-offset-y: -145px;
$phone-width: 18px;
$phone-height: 19px;
$phone-total-width: 235px;
$phone-total-height: 218px;
$phone-image: '/assets/template/css/sprites/sprite.png';
$phone: (216px, 145px, -216px, -145px, 18px, 19px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'phone', );
$prev-name: 'prev';
$prev-x: 34px;
$prev-y: 182px;
$prev-offset-x: -34px;
$prev-offset-y: -182px;
$prev-width: 12px;
$prev-height: 21px;
$prev-total-width: 235px;
$prev-total-height: 218px;
$prev-image: '/assets/template/css/sprites/sprite.png';
$prev: (34px, 182px, -34px, -182px, 12px, 21px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'prev', );
$protect-name: 'protect';
$protect-x: 170px;
$protect-y: 45px;
$protect-offset-x: -170px;
$protect-offset-y: -45px;
$protect-width: 19px;
$protect-height: 23px;
$protect-total-width: 235px;
$protect-total-height: 218px;
$protect-image: '/assets/template/css/sprites/sprite.png';
$protect: (170px, 45px, -170px, -45px, 19px, 23px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'protect', );
$quot-gold-name: 'quot-gold';
$quot-gold-x: 85px;
$quot-gold-y: 120px;
$quot-gold-offset-x: -85px;
$quot-gold-offset-y: -120px;
$quot-gold-width: 41px;
$quot-gold-height: 28px;
$quot-gold-total-width: 235px;
$quot-gold-total-height: 218px;
$quot-gold-image: '/assets/template/css/sprites/sprite.png';
$quot-gold: (85px, 120px, -85px, -120px, 41px, 28px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'quot-gold', );
$security-name: 'security';
$security-x: 122px;
$security-y: 45px;
$security-offset-x: -122px;
$security-offset-y: -45px;
$security-width: 48px;
$security-height: 51px;
$security-total-width: 235px;
$security-total-height: 218px;
$security-image: '/assets/template/css/sprites/sprite.png';
$security: (122px, 45px, -122px, -45px, 48px, 51px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'security', );
$sertificate-name: 'sertificate';
$sertificate-x: 69px;
$sertificate-y: 0px;
$sertificate-offset-x: -69px;
$sertificate-offset-y: 0px;
$sertificate-width: 53px;
$sertificate-height: 69px;
$sertificate-total-width: 235px;
$sertificate-total-height: 218px;
$sertificate-image: '/assets/template/css/sprites/sprite.png';
$sertificate: (69px, 0px, -69px, 0px, 53px, 69px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'sertificate', );
$sleep-name: 'sleep';
$sleep-x: 69px;
$sleep-y: 69px;
$sleep-offset-x: -69px;
$sleep-offset-y: -69px;
$sleep-width: 47px;
$sleep-height: 51px;
$sleep-total-width: 235px;
$sleep-total-height: 218px;
$sleep-image: '/assets/template/css/sprites/sprite.png';
$sleep: (69px, 69px, -69px, -69px, 47px, 51px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'sleep', );
$social-instagram-name: 'social__instagram';
$social-instagram-x: 145px;
$social-instagram-y: 96px;
$social-instagram-offset-x: -145px;
$social-instagram-offset-y: -96px;
$social-instagram-width: 17px;
$social-instagram-height: 20px;
$social-instagram-total-width: 235px;
$social-instagram-total-height: 218px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (145px, 96px, -145px, -96px, 17px, 20px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'social__instagram', );
$social-ok-name: 'social__ok';
$social-ok-x: 58px;
$social-ok-y: 182px;
$social-ok-offset-x: -58px;
$social-ok-offset-y: -182px;
$social-ok-width: 12px;
$social-ok-height: 20px;
$social-ok-total-width: 235px;
$social-ok-total-height: 218px;
$social-ok-image: '/assets/template/css/sprites/sprite.png';
$social-ok: (58px, 182px, -58px, -182px, 12px, 20px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'social__ok', );
$social-vk-name: 'social__vk';
$social-vk-x: 191px;
$social-vk-y: 145px;
$social-vk-offset-x: -191px;
$social-vk-offset-y: -145px;
$social-vk-width: 25px;
$social-vk-height: 20px;
$social-vk-total-width: 235px;
$social-vk-total-height: 218px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (191px, 145px, -191px, -145px, 25px, 20px, 235px, 218px, '/assets/template/css/sprites/sprite.png', 'social__vk', );
$spritesheet-width: 235px;
$spritesheet-height: 218px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($adv-1, $adv-2, $adv-3, $arrow-down-red, $arrow-up-red, $check, $clients, $clock, $color, $delivery, $forma-email, $forma-message, $forma-name, $forma-phone, $header-email, $header-phone, $heat, $leaf, $mail, $marker, $montage, $next, $partners, $phone, $prev, $protect, $quot-gold, $security, $sertificate, $sleep, $social-instagram, $social-ok, $social-vk, );
$spritesheet: (235px, 218px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
