//= include/header.html

<script>document.body.classList.add("catalog");</script>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Каталог товаров</li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="catalog">
            <div class="row">
                <div class="catalog__item columns">
                    <div class="catalog-card">
                        <div class="catalog-card__name">Комплект с бетменами</div>
                        <div class="catalog-card__box">
                            <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg')"></div>
                            <div class="catalog-card__property">
                                <div class="property__row">
                                    <div class="property__name">Материал</div>
                                    <div class="property__value">Хлопок</div>
                                </div>
                                <div class="property__row">
                                    <div class="property__name">Тип</div>
                                    <div class="property__value">Прямоугольная</div>
                                </div>
                            </div>
                            <div class="catalog-card__price-line">
                                <span class="catalog-card__price">1000</span><span class="catalog-card__currence">руб.</span>
                            </div>
                            <div class="catalog-card__action">
                                <button type="submit" class="xbtn">Купить</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="catalog__item columns">
                    <div class="catalog-card">
                        <div class="catalog-card__name">Комплект с бетменами</div>
                        <div class="catalog-card__box">
                            <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                            <div class="catalog-card__property">
                                <div class="property__row">
                                    <div class="property__name">Материал</div>
                                    <div class="property__value">Хлопок</div>
                                </div>
                                <div class="property__row">
                                    <div class="property__name">Тип</div>
                                    <div class="property__value">Прямоугольная</div>
                                </div>
                            </div>
                            <div class="catalog-card__price-line">
                                <span class="catalog-card__price">7999</span><span class="catalog-card__currence">руб.</span>
                            </div>
                            <div class="catalog-card__action">
                                <button type="submit" class="xbtn">Купить</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="catalog__item columns">
                    <div class="catalog-card">
                        <div class="catalog-card__name">Комплект с бетменами</div>
                        <div class="catalog-card__box">
                            <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                            <div class="catalog-card__property">
                                <div class="property__row">
                                    <div class="property__name">Материал</div>
                                    <div class="property__value">Хлопок</div>
                                </div>
                                <div class="property__row">
                                    <div class="property__name">Тип</div>
                                    <div class="property__value">Прямоугольная</div>
                                </div>
                            </div>
                            <div class="catalog-card__price-line">
                                <span class="catalog-card__price">5999</span><span class="catalog-card__currence">руб.</span>
                            </div>
                            <div class="catalog-card__action">
                                <button type="submit" class="xbtn">Купить</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="catalog__item columns">
                    <div class="catalog-card">
                        <div class="catalog-card__name">Комплект с бетменами</div>
                        <div class="catalog-card__box">
                            <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                            <div class="catalog-card__property">
                                <div class="property__row">
                                    <div class="property__name">Материал</div>
                                    <div class="property__value">Хлопок</div>
                                </div>
                                <div class="property__row">
                                    <div class="property__name">Тип</div>
                                    <div class="property__value">Прямоугольная</div>
                                </div>
                            </div>
                            <div class="catalog-card__price-line">
                                <span class="catalog-card__price">1000</span><span class="catalog-card__currence">руб.</span>
                            </div>
                            <div class="catalog-card__action">
                                <button type="submit" class="xbtn">Купить</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html